.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-card {
    width: 45%;
    margin-left: 28%;
}
.card{
    width: 700px;
    margin-left: 32%;
    margin-top: 5%;
    background-color: #7F9951;
}
.facebook{
    background-color: #ffffff; 
    color: #000000;
    border: none; 
    padding: 5px 10px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    width: 280px;
    margin-left: 29%;
    
}
.google{
    background-color: #ffffff; 
    color: #000000;
    border: none; 
    padding: 5px 10px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    width: 280px;
    margin-left: 29%;
    margin-top: 5%;
}
.form-group {
    margin-bottom: 20px;
    border-radius: 2px;
    padding: 3px 8px; 
    margin-left: 27%;
   
}
.login-button {
    background-color: #3897f0; 
    color: #fff;
    border: none; 
    padding: 5px 10px; 
    font-size: 16px; 
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    width: 200px;
    margin-left: 35%;
    margin-top: 5%;
}    
.linha-ou {
    display: flex;
    align-items: center;
}
.linha1 {
    height: 1px;
    width: 30%;
    background-color: #000000c7;
    margin-left: 87px;
}
.linha2 {
    height: 1px;
    width: 30%;
    background-color: #000000c7;
    margin-right: 87px;
}
.form-group input {
    padding: 10px;
    width: 300px;
    font-size: 13px;
    border-radius: 5px;
}
.form-group button {
    margin-top: 10px;
}
.text-linha {
    margin: 5%;
}
#Imagem{
    width: 400px;
    height: 600px;
}
.forgot-password{
    margin-left: 38%;
    margin-top: 1%;
    text-decoration: none;
}
.forgot-password a{
    text-decoration: none;
    color: #704C2C;
}
.card-2{
    width: 400px;
    margin-left: 20%;
    margin-top: 4%;
    text-decoration: none;
}
.card-2 a{
    text-decoration: none;
    color: #704C2C;
}
.img-card-3{
    margin-left: 26%;
}
.icones{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    margin-top: 5%;
    gap: 1%;
}   
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
